.freeBoardConts {
	width: 60%;
	margin: 0 0 50px;
	.mainTit {
		margin-bottom: 21px;
		font-size: 21px;
		font-weight: 600;
		color: #557454;
	}
	.topTxt {
		padding: 0px 0 40px;
		line-height: 1.5;
		color: #737373;
		text-align: justify;
		word-break: break-all;
	}
	.freeBoard {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 50px;
		.item {
			overflow: hidden;
			position: relative;
			display: flex;
			width: 30%;
			margin-bottom: 40px;
			flex-direction: column;
			padding: 30px 20px;
			border: solid 1px #c6c6c6;
			cursor: pointer;
			transition: all 0.5s;
			&:hover {
				transform: scale(1.04) translate(-8px, -7px);
				border: solid 1px #234c22;
				box-shadow: 8px 8px 0 #eee;
				.date {
					color: #234c22;
				}
				.viewBtn {
					right: -1px;
					bottom: -1px;
					background: #234c22;
					&::before,
					&::after {
						background-color: #fff;
					}
				}
			}

			.date {
				margin-bottom: 8px;
				color: #1b9318;
				font-size: 14px;
				font-weight: 500;
				transition: all 0.5s;
			}

			.txt {
				h2 {
					margin-bottom: 16px;
					font-size: 22px;
					line-height: 1.1;
					font-weight: 600;
				}
				p {
					height: 58px;
					margin-bottom: 29px;
					display: -webkit-box;
					line-break: anywhere;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					font-size: 15px;
					color: #6e6e6e;
				}
				.status {
					display: flex;
					margin-bottom: 16px;
					color: #b1b1b1;
					font-size: 13.5px;
					justify-content: space-between;
					span {
						margin-right: 3px;
						font-size: 17px;
						&:last-child {
							margin-left: auto;
						}
					}
				}
			}

			.viewBtn {
				display: block;
				position: absolute;
				right: -50px;
				bottom: -50px;
				width: 40px;
				height: 40px;
				border: 1px solid #fff;
				background-color: red;
				text-indent: -9999px;
				font-size: 0;
				transition: all 0.5s;
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(0deg);
					transform-origin: center;
					width: 10px;
					height: 2px;
					background: #fff;
					transition: all 0.5s;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(90deg);
					transform-origin: center;
					width: 10px;
					height: 2px;
					background: #fff;
					transition: all 0.5s;
				}
			}
		}
	}
	.freeBoardPagiNation {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		align-items: center;
		cursor: pointer;
		li {
			transition: all 0.3s;
		}
		li:hover {
			background-color: #234c22;
			color: #fff;
		}
		.first,
		.prev,
		.next,
		.last {
			padding: 10px 14px;
			border: solid 1px #a1a1a1;
			color: #717c5b;
		}
		.first,
		.last {
			padding: 10px 30px;
		}
		.first {
			margin-right: 10px;
		}
		.last {
			margin-left: 10px;
		}
		.prev {
			margin-right: auto;
		}
		.next {
			margin-left: auto;
		}
		.num {
			border: solid 1px #a1a1a1;
			margin: 0 10px;
			padding: 10px 14px;
		}
	}
}
