.galleryConts1 {
	position: relative;
	width: 100%;
	padding: 58px 0;
	background: #eff4ef;
	.outLine {
		height: 7px;
		border-top: solid 1px #6b6b6b;
		border-bottom: solid 1px #6b6b6b;
	}
	.inner {
		display: flex;
		flex-direction: row;
		width: 1140px;
		margin: 39px auto 0;
	}
	.item1 {
		width: 63%;
		margin-bottom: 42px;
		padding: 32px 63px 0px 0px;
		border-right: solid 1px #6b6b6b;
		.gallerySwiper {
			position: relative;
			.slide {
				width: 650px;
				height: 640px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: all 0.5s;
					transition-timing-function: ease-in-out;
					&:hover {
						margin: -7px 0 0 -12px;
						transform: scale(1.02);
						box-shadow: 10px 10px 20px #bcc8bc;
					}
				}
			}
		}
		h2 {
			margin: 45px 0 26px;
			font-size: 13px;
			font-weight: 500;
			letter-spacing: 1.5px;
			color: #2b2b2b;
		}
		p {
			padding-bottom: 27px;
			line-height: 1.8;
			color: #3e3e3d;
			font-weight: 600;
			letter-spacing: 1px;
			font-family: "Cormorant", serif;
		}
		.viewBtn {
			position: relative;
			z-index: 1;
			display: inline-flex;
			float: right;
			font-size: 13.5px;
			letter-spacing: 2.2px;
			font-weight: 500;
			cursor: pointer;
			transition: color 0.5s 0.25s;
			overflow: hidden;

			a {
				display: flex;
				align-items: center;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background-color: #000;
				transform: scaleX(0);
				transform-origin: right bottom;
				transition: transform 0.5s 0.1s;
				transition-timing-function: cubic-bezier(
					0.76,
					0.35,
					0.05,
					0.85
				);
			}
			&:hover {
				color: #fff;
			}
			&:hover::before {
				transform: scaleX(1);
				transform-origin: left bottom;
			}
			span {
				padding-left: 10px;
			}
		}
	}
	.itemWrap {
		width: 37%;
	}

	.item2 {
		padding: 24px 60px 58px;
		border-bottom: 1px solid #6b6b6b;
		h1 {
			font-size: 37px;
			font-family: "Cormorant", serif;
			padding-bottom: 25px;
		}
		p {
			padding-bottom: 20px;
			line-height: 1.7;
			font-size: 18px;
			font-weight: 500;
			font-family: "Cormorant", serif;
		}
		.viewBtn {
			font-size: 14px;
			letter-spacing: 2px;
			span {
				padding-left: 10px;
			}
		}
	}

	.item3 {
		display: flex;
		padding: 67px 60px;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.imgWrap {
			width: 295px;
			height: 295px;
			margin-bottom: 27px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.imgTxt {
			overflow: hidden;
			z-index: 1;
			position: relative;
			width: 100%;
			display: flex;
			justify-content: space-between;
			font-size: 14px;
			letter-spacing: 2px;
			align-items: center;
			cursor: pointer;
			transition: all 0.5s 0.2s;
			&::before {
				content: "";
				display: block;
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background-color: #000;
				transform: scaleX(0);
				transform-origin: right bottom;
				transition: transform 0.5s 0.1s;
				transition-timing-function: cubic-bezier(
					0.76,
					0.35,
					0.05,
					0.85
				);
			}
			&:hover {
				color: #fff;
			}
			&:hover::before {
				transform: scaleX(1);
				transform-origin: left bottom;
			}
			div {
				letter-spacing: 1px;
				font-weight: 500;
			}
			em {
				padding-left: 8px;
				font-family: "Cormorant", serif;
				font-size: 18px;
				font-weight: 900;
			}
		}
	}
}
.galleryConts2 {
	position: relative;
	width: 100%;
	padding: 80px 0px 30px 30px;
	background: #f8f8f8;
	transition: all 1s;

	.inner {
		display: flex;
		transition: all 0.5s;
	}

	.left {
		width: 70%;
		overflow: hidden;
		transition: all 0.5s;
		.tit {
			display: flex;
			margin-bottom: 30px;
			align-items: center;

			h1 {
				font-size: 7.2vw;
				font-weight: 400;
				font-family: "Cormorant", serif;
			}
			> div {
				display: flex;
				width: 35%;
				margin-left: auto;
				margin-right: 30px;
				font-size: 17px;
				flex-direction: column;
				align-items: flex-end;
				text-align: right;
				.inputWrap {
					display: flex;
					padding-top: 20px;
				}
				input[type="text"] {
					height: 32px;
					padding-left: 12px;
					border: solid 1px #d4d4d4;
					border-radius: 8px 0 0 8px;

					&::placeholder {
						color: #b6b6b6;
					}
				}
				input[type="button"] {
					height: 32px;
					padding: 0 8px;
					color: black;
					background-color: #e5e5e5;
					border: none;
					border-radius: 0 8px 8px 0;
					font-size: 13px;
					cursor: pointer;
					transition: all 0.5s;
					&:hover {
						background-color: #8fcb91;
						color: #fff;
					}
				}
			}
		}
		.masonry {
			transition: all 0.5s;
			&::-webkit-scrollbar {
				width: 3px;
				background-color: rgba(211, 211, 211, 0.7);
			}
			&::-webkit-scrollbar-thumb {
				background: rgba(110, 110, 110, 0.7);
			}
			> li {
				width: 45%;
				margin-right: 5%;
				margin-bottom: 40px;
				cursor: pointer;
			}
			.imgWrap {
				margin-bottom: 20px;
				overflow: hidden;
				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
					transition: all 0.3s;
					&:hover {
						transform: scale(1.1);
					}
				}
			}
			.tit {
				font-size: 18px;
				font-weight: 400;
				justify-content: space-between;
				img {
					width: 35px;
					margin-right: 15px;
					border-radius: 50px;
					border: solid 1px #ddd;
					box-shadow: 3px 3px 3px rgb(149, 149, 149);
				}
			}
			.profile {
				font-family: "Cormorant", serif;
			}
		}

		&.on {
			width: 70%;
		}
		&.off {
			width: 30%;
			.tit {
				margin-bottom: 40px;
				h1 {
					font-size: 4.6vw;
				}
				> div {
					display: none;
					.inputWrap {
						display: none;
					}
					input[type="text"] {
					}
					input[type="button"] {
					}
				}
			}

			.masonry {
				overflow-y: hidden;
				&::-webkit-scrollbar {
				}
				&::-webkit-scrollbar-thumb {
				}
				> li {
					width: 93%;
					margin-right: 5%;
				}
				.imgWrap {
					margin-bottom: 20px;
					img {
					}
				}
				.tit {
					font-size: 16px;
					font-weight: 300;
					img {
						width: 30px;
					}
				}
				.profile {
				}
			}
		}
	}
	.line {
		width: 2px;
		height: initial;
		background: linear-gradient(0deg, transparent, #000000, transparent);
	}
	.right {
		width: 30%;
		padding-left: 30px;
		overflow: hidden;
		transition: all 0.5s;

		.tit {
			display: flex;
			margin-right: 30px;
			margin-bottom: 30px;
			align-items: center;
			text-align: right;

			h1 {
				font-size: 7.2vw;
				font-weight: 400;
				font-family: "Cormorant", serif;
				text-align: left;
			}
			> div {
				display: flex;
				width: 35%;
				margin-left: auto;
				font-size: 17px;
				flex-direction: column;
				align-items: flex-end;
				.inputWrap {
					display: flex;
					padding-top: 20px;
				}
				input[type="text"] {
					height: 32px;
					padding-left: 12px;
					border: solid 1px #d4d4d4;
					border-radius: 8px 0 0 8px;

					&::placeholder {
						color: #b6b6b6;
					}
				}
				input[type="button"] {
					height: 32px;
					padding: 0 8px;
					color: black;
					background-color: #e5e5e5;
					border: none;
					border-radius: 0 8px 8px 0;
					font-size: 13px;
					cursor: pointer;
					transition: all 0.5s;
					&:hover {
						background-color: #8fcb91;
						color: #fff;
					}
				}
			}
		}
		.masonry {
			transition: all 0.5s;
			&::-webkit-scrollbar {
				width: 3px;
				background-color: rgb(211, 211, 211);
			}
			&::-webkit-scrollbar-thumb {
				background: rgb(110, 110, 110);
			}
			> li {
				width: calc(50% - 30px);
				margin-right: 5%;
				cursor: pointer;
			}
			.imgWrap {
				margin-bottom: 20px;
				overflow: hidden;
				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
					transition: all 0.3s;
					&:hover {
						transform: scale(1.1);
					}
				}
			}
			.tit {
				display: flex;
				margin-bottom: 50px;
				margin-right: 0;
				font-size: 18px;
				font-weight: 400;
				justify-content: space-between;
				img {
					width: 35px;
					margin-right: 15px;
					border-radius: 50px;
					border: solid 1px #ddd;
					box-shadow: 3px 3px 3px rgb(149, 149, 149);
				}
			}
			.profile {
				font-family: "Cormorant", serif;
			}
		}

		&.on {
			width: 70%;
			.tit {
				> div {
					.inputWrap {
						padding-top: 20px;
					}
					input[type="text"] {
						height: 32px;
						padding-left: 12px;
						border: solid 1px #d4d4d4;
						border-radius: 8px 0 0 8px;
						&::placeholder {
							color: #b6b6b6;
						}
					}
					input[type="button"] {
						height: 32px;
						padding: 0 8px;
						color: black;
						background-color: #e5e5e5;
						border: none;
						border-radius: 0 8px 8px 0;
						transition: all 0.5s;
						&:hover {
							background-color: #8fcb91;
							color: #fff;
						}
					}
				}
			}
			.masonry {
				> li {
					margin-right: 30px;
				}
			}
		}
		&.off {
			width: 30%;

			.tit {
				margin-bottom: 0px;
				h1 {
					font-size: 4.6vw;
				}
				> div {
					display: none;
					.inputWrap {
						display: none;
					}
				}
			}

			.masonry {
				&::-webkit-scrollbar {
				}
				&::-webkit-scrollbar-thumb {
				}
				> li {
					width: 93%;
					margin-right: 5%;
					margin-bottom: 50px;
				}
				.imgWrap {
					margin-bottom: 20px;
					img {
					}
				}
				.tit {
					display: flex;
					font-size: 16px;
					font-weight: 300;
					align-items: flex-start;
					justify-content: space-between;
					margin-right: 0;
					img {
						width: 30px;
					}
				}
				.profile {
				}
			}
		}
	}

	&.dark {
		background: #070707;
		> * {
			color: #fff;
		}
		.left {
			.masonry {
				.imgWrap {
				}
				.tit {
					img {
						box-shadow: none;
					}
				}
			}
		}
		.line {
			background: linear-gradient(
				0deg,
				transparent,
				#fff 95%,
				transparent
			);
		}
		.right {
			.masonry {
				.imgWrap {
				}
				.tit {
					img {
						box-shadow: none;
					}
				}
			}
		}
	}
}

.galleryPop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow-y: scroll;
    flex-wrap: wrap;
	.close {
    display: block;
    width: 95%;
    margin-bottom:15px;
    text-align: right;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
		&:hover {
			color: rgb(23, 211, 64);
		}
	}
	img {
    width: 95%;
    border-radius: 7px;
	}
}
.loadingWrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.9);
	z-index: -1;
	opacity: 0;
	transition: all 1s;
	.loading {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: inline-block;
		border: 3px solid;
		border-color: #fff #fff transparent transparent;
		animation: loadingRotation 1s linear infinite;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			border: 3px solid;
			border-color: transparent transparent #ff3d00 #ff3d00;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			animation: loadingRotationBack 0.5s linear infinite;
			transform-origin: center center;
		}
		&::before {
			width: 32px;
			height: 32px;
			border-color: #fff #fff transparent transparent;
			animation: loadingRotation 1.5s linear infinite;
		}
	}
	&.on {
		z-index: 10;
		opacity: 1;
	}
}

@media screen and (max-width: $lg) {
	.galleryConts1 {
		.outLine {
		}
		.inner {
			display: flex;
			flex-direction: row;
			width: 100%;
			margin: 39px auto 0;
			padding: 0 30px;
		}
		.item1 {
			width: 55%;
			padding: 32px 32px 0px 0px;
			.gallerySwiper {
				.slide {
					width: 100%;
					height: 100%;
					img {
					}
				}
			}
			h2 {
				margin: 35px 0 26px;
			}
			p {
			}
			.viewBtn {
				span {
				}
			}
		}
		.itemWrap {
			width: 45%;
		}

		.item2 {
			padding: 25px 0 0px 30px;
			border-bottom: 1px solid #6b6b6b;
			h1 {
				font-size: 33px;
			}
			p {
				line-height: 1.6;
			}
			.viewBtn {
				span {
				}
			}
		}

		.item3 {
			padding: 30px;
			.imgWrap {
				width: 100%;
				height: 100%;
				margin-bottom: 17px;
				img {
				}
			}
			.imgTxt {
				div {
					letter-spacing: 1px;
					font-weight: 500;
				}
				em {
				}
			}
		}
	}

	.galleryConts2 {
		> * {
		}

		.inner {
		}
		.left {
			> .tit {
				align-items: flex-start;
				h1 {
					font-size: 5vw;
					line-height: 1;
				}
				> div {
					width: 50%;
					margin-left: auto;
					.inputWrap {
					}
					input[type="text"] {
						&::placeholder {
							color: #b6b6b6;
						}
					}
					input[type="button"] {
					}
				}
			}
			.masonry {
				&::-webkit-scrollbar {
				}
				&::-webkit-scrollbar-thumb {
				}
				> li {
					margin-bottom: 10px;
				}
				.imgWrap {
					margin-bottom: 10px;
					img {
					}
				}
				.tit {
					font-size: 16px;
					img {
						width: 30px;
						margin-right: 15px;
						border-radius: 30px;
						box-shadow: 3px 3px 3px rgb(192, 192, 192);
					}
				}
				.profile {
				}
			}

			&.on {
			}
			&.off {
				.tit {
					margin-bottom: initial;
					h1 {
						margin-bottom: 50px;
					}
					> div {
						.inputWrap {
						}
						input[type="text"] {
						}
						input[type="button"] {
						}
					}
				}

				.masonry {
					&::-webkit-scrollbar {
					}
					&::-webkit-scrollbar-thumb {
					}
					> li {
					}
					.imgWrap {
						margin-bottom: 20px;
						img {
						}
					}
					.tit {
						font-size: 16px;
						font-weight: 300;
						img {
							width: 30px;
						}
					}
					.profile {
					}
				}
			}
		}
		.line {
		}
		.right {
			> .tit {
				align-items: flex-start;

				h1 {
					font-size: 5vw;
					line-height: 1;
				}
				> div {
					width: 51%;
					.inputWrap {
					}
					input[type="text"] {
					}
					input[type="button"] {
					}
				}
			}
			.masonry {
				&::-webkit-scrollbar {
				}
				&::-webkit-scrollbar-thumb {
				}
				> li {
					margin-bottom: 0;
				}
				.imgWrap {
					margin-bottom: 10px;
					img {
					}
				}
				.tit {
					font-size: 16px;
					font-weight: 300;
					img {
						width: 35px;
						margin-right: 15px;
						border-radius: 50px;
						border: solid 1px #ddd;
						box-shadow: 3px 3px 3px rgb(149, 149, 149);
					}
				}
				.profile {
					font-family: "Cormorant", serif;
				}
			}

			&.on {
				width: 70%;
				.tit {
					> div {
						.inputWrap {
							padding-top: 20px;
						}
						input[type="text"] {
							height: 32px;
							padding-left: 12px;
							border: solid 1px #d4d4d4;
							border-radius: 8px 0 0 8px;
							&::placeholder {
								color: #b6b6b6;
							}
						}
						input[type="button"] {
							height: 32px;
							padding: 0 8px;
							color: black;
							background-color: #e5e5e5;
							border: none;
							border-radius: 0 8px 8px 0;
							font-size: 13px;
						}
					}
				}
				.masonry {
					> li {
						margin-right: 30px;
					}
				}
			}
			&.off {
				width: 30%;

				> .tit {
					margin-bottom: 75px;
					h1 {
						font-size: 4.6vw;
					}
					> div {
						display: none;
						.inputWrap {
							display: none;
						}
					}
				}

				.masonry {
					&::-webkit-scrollbar {
					}
					&::-webkit-scrollbar-thumb {
					}
					> li {
						width: 93%;
						margin-right: 5%;
					}
					.imgWrap {
						margin-bottom: 10px;
						img {
						}
					}
					.tit {
						font-size: 16px;
						font-weight: 300;
						img {
							width: 30px;
						}
					}
					.profile {
					}
				}
			}
		}
	}
}

@media screen and (max-width: $md) {
}

@media screen and (max-width: $sm) {
	.galleryConts1 {
		padding: 50px 0;
		.outLine {
		}
		.inner {
			flex-wrap: wrap;
		}
		.item1 {
			width: 100%;
			padding: 0;
			border-right: none;
			.gallerySwiper {
				.slide {
					img {
					}
				}
			}
			h2 {
				font-size: 15px;
			}
			p {
				font-size: 17px;
			}
			.viewBtn {
				span {
				}
			}
		}
		.itemWrap {
			width: 100%;
		}

		.item2 {
			padding: 30px 0 0 0;
			border-bottom: none;
			h1 {
				font-size: 30px;
			}
			p {
			}
			.viewBtn {
				span {
				}
			}
		}

		.item3 {
			padding: 0px;
			.imgWrap {
				img {
				}
			}
			.imgTxt {
				margin-bottom: 50px;
				div {
				}
				em {
				}
			}
		}
	}

	.galleryConts2 {
		> * {
		}

		.inner {
			flex-wrap: wrap;
		}
		.left {
			width: 100%;
			> .tit {
				align-items: flex-start;
				h1 {
					font-size: 10vw;
				}
				> div {
					padding-left:10px;
					line-height:1.5;
					.inputWrap {
					}
					input[type="text"] {
						&::placeholder {
						}
					}
					input[type="button"] {
					}
				}
			}
			.masonry {
				margin-bottom: 0px;
				&::-webkit-scrollbar {
				}
				&::-webkit-scrollbar-thumb {
				}
				> li {
				}
				.imgWrap {
					img {
					}
				}
				.tit {
					img {
					}
				}
				.profile {
				}
			}

			&.on {
				width: 100%;
			}
			&.off {
				width: 100%;
				.tit {
					h1 {
						font-size: 7.5vw;
						margin-bottom: 85px;
					}
					> div {
						display: block;
						.inputWrap {
							display: block;
						}
						input[type="text"] {
						}
						input[type="button"] {
						}
					}
				}

				.masonry {
					overflow: auto;
					&::-webkit-scrollbar {
					}
					&::-webkit-scrollbar-thumb {
					}
					> li {
					}
					.imgWrap {
						img {
						}
					}
					.tit {
						img {
						}
					}
					.profile {
					}
				}
			}
		}
		.line {
			display: block;
			margin: 40px 0;
			width: 100%;
			height: 1px;
			background-color: #000;
			img {
				display: none;
			}
		}
		.right {
			width: 100%;
			padding-left: 0;
			> .tit {
				h1 {
					font-size: 7.5vw;
				}
				> div {
					width: 50%;
					font-weight: 300;
					font-size: 15px;
					.inputWrap {
					}
					input[type="text"] {
					}
					input[type="button"] {
					}
				}
			}
			.masonry {
				&::-webkit-scrollbar {
				}
				&::-webkit-scrollbar-thumb {
				}
				> li {
				}
				.imgWrap {
					img {
					}
				}
				.tit {
					img {
					}
				}
				.profile {
				}
			}

			&.on {
				width: 100%;
				.tit {
					> div {
						.inputWrap {
						}
						input[type="text"] {
							&::placeholder {
							}
						}
						input[type="button"] {
						}
					}
				}
				.masonry {
					> li {
						margin-right: 30px;
					}
				}
			}
			&.off {
				width: 100%;

				> .tit {
					h1 {
						font-size: 7.5vw;
					}
					> div {
						display: block;
						.inputWrap {
							display: block;
						}
					}
				}

				.masonry {
					overflow: hidden;
					&::-webkit-scrollbar {
					}
					&::-webkit-scrollbar-thumb {
					}
					> li {
						width: fit-content;
						margin-right: 30px;
					}
					.imgWrap {
						img {
						}
					}
					.tit {
						img {
						}
					}
					.profile {
					}
				}
			}
		}

		&.dark {
			background: #070707;
			> * {
				color: #fff;
			}
			.left {
				.masonry {
					.imgWrap {
					}
					.tit {
						img {
							box-shadow: none;
						}
					}
				}
			}
			.line {
				display: block;
				width: calc(100% - 30px);
				background-color: #fff;
			}
			.right {
				.masonry {
					.imgWrap {
					}
					.tit {
						img {
							box-shadow: none;
						}
					}
				}
			}
		}
	}

	.loadingWrap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.9);
		z-index: -1;
		opacity: 0;
		transition: all 1s;
	}
}

@media screen and (max-width: $xs) {
	.galleryConts1 {
		padding: 0;
		.outLine {
		}
		.inner {
			padding: 0 17px;
		}
		.item1 {
			.gallerySwiper {
				.slide {
					img {
					}
				}
			}
			h2 {
			}
			p {
			}
			.viewBtn {
				span {
				}
			}
		}
		.itemWrap {
		}

		.item2 {
			h1 {
				font-size: 26px;
			}
			p {
			}
			.viewBtn {
				span {
				}
			}
		}

		.item3 {
			padding: 0px;
			.imgWrap {
				img {
				}
			}
			.imgTxt {
				margin-bottom: 50px;
				div {
				}
				em {
				}
			}
		}
	}

	.galleryConts2 {
		padding: 40px 10px;
		> * {
		}

		.inner {
			flex-wrap: wrap;
		}
		.left {
			width: 100%;
			overflow: initial;
			> .tit {
				flex-wrap: wrap;
				h1 {
					width: 100%;
					margin-bottom: 27px;
					margin-left:10px;
					font-size: 10vw;
				}
				> div {
					width: 100%;
					margin: 0;
					text-align:left;
					align-items:initial;
					font-size: 15px;
					font-weight: 300;
					.inputWrap {
						padding-top: 30px;
					}
					input[type="text"] {
						&::placeholder {
						}
					}
					input[type="button"] {
					}
				}
			}
			.masonry {
				&::-webkit-scrollbar {
				}
				&::-webkit-scrollbar-thumb {
				}
				> li {
					width: 100%;
					margin-right: 0;
				}
				.imgWrap {
					img {
					}
				}
				.tit {
					justify-content: space-between;
					margin: 0 12px 40px 12px;
					img {
					}
				}
				.profile {
				}
			}

			&.on {
				width: 100%;
			}
			&.off {
				width: 100%;
				.tit {
					h1 {
						font-size: 13.5vw;
						margin-bottom: 13px;
					}
					> div {
						.inputWrap {
							margin-bottom: 30px;
						}
						input[type="text"] {
						}
						input[type="button"] {
						}
					}
				}

				.masonry {
					&::-webkit-scrollbar {
					}
					&::-webkit-scrollbar-thumb {
					}
					> li {
						width: 100%;
						margin-right: 0;
					}
					.imgWrap {
						img {
						}
					}
					.tit {
						img {
						}
					}
					.profile {
					}
				}
			}
		}
		.line {
			display: block;
			margin: 40px 0;
			width: 100%;
			height: 1px;
			background-color: #000;
			img {
				display: none;
			}
		}
		.right {
			overflow: initial;
			> .tit {
				flex-wrap: wrap;
				text-align: left;
				margin-bottom: 27px;
				h1 {
					width: 100%;
					margin-bottom: 27px;
					font-size: 12vw;
				}
				> div {
					width: 100%;
					align-items: initial;
					margin: 0;
					font-weight: 300;
					font-size: 15px;
					.inputWrap {
					}
					input[type="text"] {
					}
					input[type="button"] {
					}
				}
			}
			.masonry {
				&::-webkit-scrollbar {
				}
				&::-webkit-scrollbar-thumb {
				}
				> li {
				}
				.imgWrap {
					img {
					}
				}
				.tit {
					margin: 0 20px 40px 20px;
					img {
					}
				}
				.profile {
				}
			}

			&.on {
				width: 100%;
				.tit {
					> div {
						.inputWrap {
						}
						input[type="text"] {
							&::placeholder {
							}
						}
						input[type="button"] {
						}
					}
				}
				.masonry {
					> li {
						margin-right: 0;
						width: 100%;
					}
				}
			}
			&.off {
				width: 100%;

				> .tit {
					h1 {
						font-size: 7.5vw;
					}
					> div {
						display: block;
						.inputWrap {
							display: block;
						}
					}
				}

				.masonry {
					&::-webkit-scrollbar {
					}
					&::-webkit-scrollbar-thumb {
					}
					> li {
						width: fit-content;
						margin-right: 0;
						margin-bottom: 0;
					}
					.imgWrap {
						img {
						}
					}
					.tit {
						img {
						}
					}
					.profile {
					}
				}
			}
		}

		&.dark {
			> * {
			}
			.left {
				.masonry {
					.imgWrap {
					}
					.tit {
						img {
						}
					}
				}
			}
			.line {
				width: 100%;
			}
			.right {
				.masonry {
					.imgWrap {
					}
					.tit {
						img {
						}
					}
				}
			}
		}
	}
}
