.mainConts1 {
	display: flex;
	width: 100%;
	height: calc(100vh - 141px);
	padding: 75px 0;
	background: #f2f2f2;
	align-items: center;
	justify-content: center;
	.inner {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 1200px;
		height: 625px;
	}
	.topText {
		width: 58%;
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		font-size: 20px;
		color: #4a6869;
		z-index: 1;
		&::before {
			content: "";
			display: block;
			height: 1px;
			width: 30px;
			background: #4a6869;
		}
	}
	h2 {
		width: 58%;
		margin-bottom: 40px;
		font-size: 66px;
		font-weight: 500;
		line-height: 1.2;
		z-index: 1;
	}
	.bottomTxt {
		width: 58%;
		margin-bottom: 40px;
		font-size: 17px;
		font-weight: 400;
		line-height: 1.5;
		color: #4a6869;
		z-index: 1;
	}
	.btn {
		display: flex;
		width: 250px;
		height: 67px;
		margin-right: auto;
		font-size: 18px;
		border-radius: 100px;
		color: #fff;
		background-color: #4a6869;
		z-index: 1;
		align-items: center;
		justify-content: center;

		.arrow {
			position: relative;
			width: 20px;
			height: 20px;
			margin-left: 15px;
			z-index: -1;
			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 70%;
				height: 3px;
				background-color: #e0e7e1;
				transform: rotateZ(45deg);
				transform-origin: left top;
				transition: all 0.5s;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 70%;
				height: 3px;
				background-color: #e0e7e1;
				transform: rotateZ(-45deg);
				transform-origin: left bottom;
				transition: all 0.5s;
			}
		}
	}
	.imgWrap {
		width: 42%;
		height: 100%;
		z-index: 1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.bg {
		position: absolute;
		width: 22%;
		bottom: 23%;
		left: 43%;
		z-index: 0;
		path {
			fill: #e0e7e1;
		}
	}
}

.mainConts2 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 75px 0;
	background: #fbfbfc;
	align-items: center;
	justify-content: center;
	.inner {
		width: 1200px;
	}
	.tit {
		width: 46%;
		margin-bottom: 3vmin;
		font-size: 5vmin;
		font-weight: 400;
	}
	.conts {
		display: flex;
		flex-wrap: wrap;
		.item {
			position: relative;
			width: calc(50% - 40px);
			margin: 0 40px 4vmin 0;
			padding: 40px 5vmin;
			border: 1px solid #e7e7e7;
			transition: all 0.5s;
			cursor: pointer;
			background-color: #fbfbfc;
			&:hover {
				transform: translate(-5px, -5px) scale(1.04);
				border-color: #fff;
				background-color: #fff;
				box-shadow: 20px 20px 20px #ececec;
			}
		}
		.top {
			display: flex;
			margin-bottom: 30px;
			span[class*="material"] {
				margin-right: auto;
				font-size: 50px;
				color: #4a6869;
			}
			.num {
				font-size: 25px;
				color: #86878b;
			}
		}
		h2 {
			margin-bottom: 16px;
			font-size: 40px;
			color: #0d0e16;
		}
		p {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.4;
			color: #6e6e75;
		}
		.btn {
			display: flex;
			width: 33%;
			padding-bottom: 5px;
			font-size: 20px;
			color: #4a6869;
			border-bottom: 1px solid #4a6869;
			align-items: center;

			.arrow {
				position: relative;
				width: 15px;
				height: 15px;
				margin-left: auto;
				&::before {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					width: 70%;
					height: 2px;
					background-color: #4a6869;
					transform: rotateZ(45deg);
					transform-origin: left top;
					transition: all 0.5s;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					width: 70%;
					height: 2px;
					background-color: #4a6869;
					transform: rotateZ(-45deg);
					transform-origin: left bottom;
					transition: all 0.5s;
				}
			}
		}
	}

	.bg2 {
		position: absolute;
		width: 23%;
		bottom: -15%;
		left: -11%;
		z-index: 1;
		transform: rotateZ(37deg);
		path {
			fill: #e0e7e1;
		}
	}
}

.mainConts3 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 75px 0;
	background: #f6f8f6;
	align-items: center;
	justify-content: center;
	.inner {
		width: 1200px;
		> h1 {
			margin-bottom: 26px;
			font-size: 73px;
			font-weight: 400;
			letter-spacing: -2px;
			text-align: center;
			color: #0d0e16;
		}
		> p {
			width: 50%;
			margin: 0 auto 104px;
			font-size: 18px;
			text-align: center;
			line-height: 1.8;
			color: #535459;
		}
		> .conts {
			display: flex;
		}
	}

	.process {
		display: flex;
		width: 41.7%;
		flex-wrap: wrap;
		align-items: flex-start;
		cursor: pointer;

		.item {
			display: flex;
			margin: 31px 0 0 0;
			&:hover {
				.num {
					color: #fff;
					border: 1px solid #000;
					background: #000;
				}
				h2 {
					color: #000;
					text-decoration: underline;
				}
				p {
					color: #56565c;
				}
			}
		}

		.left {
			display: flex;
			width: 25%;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.num {
			width: 30%;
			display: flex;
			align-items: center;
			margin-bottom: 18px;
			border-radius: 50px;
			border: solid 1px #c7c9c9;
			padding: 28px;
			font-size: 19px;
			line-height: 0;
			color: #6a6c70;
			justify-content: center;
			transition: all 0.5s;
		}
		.arrow {
			position: relative;
			display: flex;
			align-items: flex-end;
			width: 3px;
			height: 60px;
			background: repeating-linear-gradient(
				to top,
				#c7c9c9,
				#c7c9c9 8px,
				#fff0 8px,
				#fff0 14px
			);
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0px;
				width: 15px;
				margin: 0 0 6px -9px;
				height: 3px;
				border-left: solid 3px #c7c9c9;
				border-right: solid 3px #c7c9c9;
				border-radius: 15px;
			}
		}
		.conts {
			width: 60%;
			h2 {
				margin-bottom: 8px;
				font-size: 27px;
				color: #727578;
				transition: all 0.5s;
				font-weight: 400;
			}
			p {
				font-size: 18px;
				line-height: 1.4;
				color: #96979a;
				transition: all 0.5s;
			}
		}
	}
	.imgWrap {
		margin-right: 40px;
		img {
			width: 330px;
			height: 500px;
			object-fit: cover;
		}
	}
	.imgWrap:last-child {
		margin-right: 0;
	}
	.bg3 {
		position: absolute;
		width: 13%;
		top: 19%;
		right: -3%;
		z-index: 0;
		transform: rotateZ(356deg);
		path {
			fill: #e0e7e1;
		}
	}
}

.mainConts4 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 75px 0;
	background: #fff;
	align-items: center;
	justify-content: center;
	.inner {
		display: flex;
		width: 1200px;
		flex-wrap: wrap;

		> p {
			width: 60%;
			padding: 90px 195px 0 136px;
			font-size: 19px;
			line-height: 1.4;
			font-weight: 300;
			color: #6e6e75;
		}
	}
	h1 {
		width: 40%;
		font-size: 69px;
		line-height: 1.3;
		font-weight: 400;
		color: #0d0e16;
		margin-bottom: 100px;
	}
	.conts {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		margin-bottom: 7vmin;
		li:nth-child(2n-1) {
			width: 50%;
			padding: 28px 101px 0 0;
			.imgWrap {
				width: 100%;
				height: 420px;
				margin-bottom: 40px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		li:nth-child(2n) {
			width: 50%;
			padding: 0 30px 0 70px;
			.imgWrap {
				width: 100%;
				height: 370px;
				margin-bottom: 36px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		h2 {
			display: flex;
			margin-bottom: 2.5vmin;
			font-size: 5vmin;
			font-weight: 500;
			align-items: flex-end;
			span {
				margin-left: auto;
				margin-bottom: 17px;
				color: #6e6e73;
				font-size: 15px;
				font-weight: 400;
			}
		}
		.btn {
			display: flex;
			width: 34.5%;
			font-size: 19.4px;
			font-weight: 500;
			color: #4a6869;
			border-bottom: 2px solid #a4b3b4;
			align-items: center;

			.arrow {
				position: relative;
				width: 15px;
				height: 15px;
				margin-left: auto;
				&::before {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					width: 70%;
					height: 2px;
					background-color: #4a6869;
					transform: rotateZ(45deg);
					transform-origin: left top;
					transition: all 0.5s;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					width: 70%;
					height: 2px;
					background-color: #4a6869;
					transform: rotateZ(-45deg);
					transform-origin: left bottom;
					transition: all 0.5s;
				}
			}
		}
	}
	.moreBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20%;
		height: 65px;
		margin: 0 auto;
		font-size: 20px;
		font-weight: 500;
		color: #4a6869;
		border: solid 1px #e0e7e1;
		border-radius: 50px;
		cursor: pointer;

		.arrow {
			position: relative;
			width: 15px;
			height: 15px;
			margin-left: 10px;
			&::before {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				width: 70%;
				height: 2px;
				background-color: #4a6869;
				transform: rotateZ(45deg);
				transform-origin: left top;
				transition: all 0.5s;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				width: 70%;
				height: 2px;
				background-color: #4a6869;
				transform: rotateZ(-45deg);
				transform-origin: left bottom;
				transition: all 0.5s;
			}
		}
	}
}

.mainConts5 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	background: #f6f8f6;
	align-items: center;
	justify-content: center;
	.inner {
		width: 1200px;
		> h1 {
			margin-bottom: 26px;
			font-size: 73px;
			font-weight: 400;
			letter-spacing: -2px;
			text-align: center;
			color: #0d0e16;
		}
		> p {
			width: 50%;
			margin: 0 auto 90px;
			font-size: 18px;
			text-align: center;
			line-height: 1.8;
			color: #535459;
		}
	}
	.conts {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
		.item {
			padding-right: 45px;
			cursor: pointer;
			&:hover {
				.bottom .btn {
					color: #4a6869;
					border-bottom: 2px solid #a4b3b4;
				}
			}
		}
		.item:last-child {
			padding-right: 0;
		}
		.imgWrap {
			width: 370px;
			height: 310px;
			margin-bottom: 32px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		h2 {
			margin-bottom: 30px;
			padding-bottom: 24px;
			border-bottom: 2px solid #ebefeb;
			font-size: 27px;
			line-height: 1.1;
			font-weight: 500;
			align-items: flex-end;
		}
		.bottom {
			display: flex;
			.btn {
				display: flex;
				width: 36.5%;
				font-size: 19.4px;
				font-weight: 500;
				color: #0d0e16;
				border-bottom: 2px solid #fff;
				align-items: center;
				transition: all 0.5s;

				.arrow {
					position: relative;
					width: 15px;
					height: 15px;
					margin-left: auto;
					&::before {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 70%;
						height: 2px;
						background-color: #4a6869;
						transform: rotateZ(45deg);
						transform-origin: left top;
						transition: all 0.5s;
					}
					&::after {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
						width: 70%;
						height: 2px;
						background-color: #4a6869;
						transform: rotateZ(-45deg);
						transform-origin: left bottom;
						transition: all 0.5s;
					}
				}
			}
			.date {
				margin-left: auto;
				font-size: 17px;
				color: #56565c;
			}
		}
	}
	.moreBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20%;
		height: 65px;
		margin: 0 auto;
		font-size: 20px;
		font-weight: 500;
		color: #4a6869;
		border: solid 1px #e0e7e1;
		border-radius: 50px;
		cursor: pointer;

		.arrow {
			position: relative;
			width: 15px;
			height: 15px;
			margin-left: 10px;
			&::before {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				width: 70%;
				height: 2px;
				background-color: #4a6869;
				transform: rotateZ(45deg);
				transform-origin: left top;
				transition: all 0.5s;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				width: 70%;
				height: 2px;
				background-color: #4a6869;
				transform: rotateZ(-45deg);
				transform-origin: left bottom;
				transition: all 0.5s;
			}
		}
	}
}

.mainConts6 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	.inner1 {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 84px;
		background: #4a6869;
		.bg1 {
			position: absolute;
			width: 13%;
			top: 5%;
			left: -5%;
			z-index: 0;
			path {
				fill: #3e5a5b;
			}
		}
		.bg2 {
			position: absolute;
			width: 15%;
			right: 2%;
			bottom: 5%;
			z-index: 0;
			path {
				fill: #3e5a5b;
			}
		}
	}
	.cont {
		display: flex;
		width: 1200px;
		margin: 140px 0;
		.tit {
			position: relative;
			z-index: 1;
			width: 50%;
			padding-right: 40px;
			font-size: 72px;
			font-weight: 400;
			color: #fff;
		}
		.right {
			position: relative;
			z-index: 1;
			width: 50%;
			padding: 0 145px 0 100px;
			p {
				margin-bottom: 47px;
				font-size: 20px;
				font-weight: 300;
				color: #fff;
				line-height: 1.5;
			}
			.moreBtn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 47%;
				height: 63px;
				font-size: 20px;
				font-weight: 500;
				color: #4a6869;
				border-radius: 50px;
				background-color: #fff;
				cursor: pointer;

				.arrow {
					position: relative;
					width: 15px;
					height: 15px;
					margin-left: 10px;
					&::before {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 70%;
						height: 2px;
						background-color: #4a6869;
						transform: rotateZ(45deg);
						transform-origin: left top;
						transition: all 0.5s;
					}
					&::after {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
						width: 70%;
						height: 2px;
						background-color: #4a6869;
						transform: rotateZ(-45deg);
						transform-origin: left bottom;
						transition: all 0.5s;
					}
				}
			}
		}
	}

	.inner2 {
		width: 1200px;
		.tit {
			margin-bottom: 30px;
			font-size: 18px;
			font-weight: 500;
			text-align: center;
		}
		.banner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 77%;
			margin: 0 auto;
		}
		svg {
			width: 130px;
			height: 40px;
		}
	}
}

@media screen and (max-width: $lg) {
	.mainConts1 {
		height: calc(100vh - 128px);
		.inner {
			width: 100%;
			height: 100%;
			min-height: 455px;
			padding: 0 40px;
		}
		.topText {
			&::before {
				margin-right: 10px;
			}
		}
		h2 {
			padding-right: 30px;
			font-size: 5.5vw;
		}
		.bottomTxt {
			padding-right: 30px;
		}
		.btn {
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
		.imgWrap {
			img {
			}
		}
		.bg {
			path {
			}
		}
	}

	.mainConts2 {
		.inner {
			width: 100%;
			padding: 0 40px;
		}
		.tit {
			width: 100%;
			font-size: 4.5vw;
			margin-bottom: 4vmin;
		}
		.conts {
			li:nth-child(2n) {
				margin-right: 0;
			}
			.item {
				width: calc((100% - 2.4vmin) / 2);
				margin: 0 2.4vmin 5vmin 0;
				padding: 2.4vmin 4vmin;
				&:hover {
					box-shadow: 10px 10px 10px #ececec;
				}
			}
			.top {
				margin-bottom: 25px;
				span[class*="material"] {
					font-size: 4vw;
				}
				.num {
					font-size: 2.3vw;
				}
			}
			h2 {
				font-size: 3.5vw;
			}
			p {
			}
			.btn {
				width: 33%;
				font-size: 1.5vw;

				.arrow {
					&::before {
					}
					&::after {
					}
				}
			}
		}

		.bg2 {
			path {
			}
		}
	}

	.mainConts3 {
		.inner {
			width: 100%;
			padding: 0 40px;
			> h1 {
				font-size: 7.5vw;
			}
			> p {
				margin: 0 auto 70px;
				font-size: 18px;
				line-height: 1.6;
			}
			> .conts {
			}
		}

		.process {
			width: 41.7%;

			.item {
				&:hover {
					.num {
					}
					h2 {
					}
					p {
					}
				}
			}

			.left {
			}
			.num {
				padding: 23px;
				font-size: 17px;
			}
			.arrow {
				&::after {
				}
			}
			.conts {
				h2 {
					font-size: 3vw;
				}
				p {
					font-size: 17px;
				}
			}
		}
		.imgWrap {
			width: 29%;
			img {
				width: 100%;
				height: 100%;
				min-height: 300px;
			}
		}
		.imgWrap:last-child {
		}
		.bg3 {
			path {
			}
		}
	}

	.mainConts4 {
		.inner {
			width: 100%;
			padding: 0 40px;
			> p {
				width: 50%;
				padding: 3vmin 88px 0 100px;
				font-size: 19px;
			}
		}
		h1 {
			width: 50%;
			font-size: 6vmin;
			margin-bottom: 7vmin;
		}
		.conts {
			li:nth-child(2n-1) {
				padding: 28px 70px 0 0;
				.imgWrap {
					height: 27vmin;
					min-height: 250px;
					img {
					}
				}
			}
			li:nth-child(2n) {
				padding: 0 30px 0 50px;
				.imgWrap {
					height: 26vmin;
					min-height: 250px;
					img {
					}
				}
			}

			h2 {
				font-size: 3vw;
				span {
					margin-bottom: 1.4vw;
				}
			}
			.btn {
				font-size: clamp(15px, 1.49vw, 20px);

				.arrow {
					width: 1.35vw;
					height: 1.35vw;
					&::before {
					}
					&::after {
					}
				}
			}
		}
		.moreBtn {
			width: 240px;
			font-size: 18px;
			height: 55px;
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts5 {
		.inner {
			width: 100%;
			padding: 0 40px;
			> h1 {
				font-size: 7.5vmin;
			}
			> p {
				width: 60%;
			}
		}
		.conts {
			margin-bottom: clamp(30px, 8vh, 100px);
			.item {
				padding-right: 35px;
				&:hover {
					.bottom .btn {
					}
				}
			}
			.item:last-child {
			}
			.imgWrap {
				width: 100%;
				height: clamp(150px, 27vh, 310px);
				img {
				}
			}

			h2 {
				margin-bottom: 25px;
				padding-bottom: 22px;
				font-size: 2.2vw;
			}
			.bottom {
				.btn {
					width: 36.5%;
					font-size: clamp(13px, 2vw, 15px);

					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
				.date {
					font-size: 15px;
				}
			}
		}
		.moreBtn {
			width: 200px;
			height: 65px;
			font-size: 20px;
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts6 {
		.inner1 {
			padding: 0 40px;
			margin-bottom: 74px;
			.bg1 {
				path {
				}
			}
			.bg2 {
				path {
				}
			}
		}
		.cont {
			width: 100%;
			margin: 110px 0;
			.tit {
				padding-right: 30px;
				font-size: 5.6vw;
			}
			.right {
				width: 50%;
				padding: 0 100px 0 70px;
				p {
					font-size: 19px;
				}
				.moreBtn {
					width: 150px;
					height: 53px;
					font-size: 18px;
					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
			}
		}

		.inner2 {
			width: 100%;
			padding: 0 40px;
			.tit {
			}
			.banner {
			}
			svg {
				width: 11vw;
			}
		}
	}
}
