.mainConts1 {
	display: flex;
	width: 100%;
	height: calc(100vh - 141px);
	padding: 75px 0;
	background: #f6f8f6;
	align-items: center;
	justify-content: center;
	touch-action: none;
	.inner {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 1200px;
		height: 625px;
	}
	.topText {
		width: 58%;
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		font-size: 20px;
		color: #4a6869;
		z-index: 1;
		&::before {
			content: "";
			display: block;
			height: 1px;
			width: 30px;
			background: #4a6869;
		}
	}
	h2 {
		width: 58%;
		margin-bottom: 40px;
		font-size: 66px;
		font-weight: 500;
		line-height: 1.2;
		z-index: 1;
	}
	.bottomTxt {
		width: 58%;
		margin-bottom: 40px;
		font-size: 17px;
		font-weight: 400;
		line-height: 1.5;
		color: #4a6869;
		z-index: 1;
	}
	.btn {
		display: flex;
		width: 250px;
		height: 67px;
		margin-right: auto;
		font-size: 18px;
		border-radius: 100px;
		color: #fff;
		background-color: #4a6869;
		z-index: 1;
		align-items: center;
		justify-content: center;
		transition: all 0.5s;
		&:hover {
			color: #4a6869;
			background-color: #fff;
			border: solid 1px #4a6869;
			.arrow::after,
			.arrow::before {
				background-color: #4a6869;
			}
		}

		.arrow {
			position: relative;
			width: 20px;
			height: 20px;
			margin-left: 15px;
			z-index: -1;
			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 70%;
				height: 3px;
				background-color: #e0e7e1;
				transform: rotateZ(45deg);
				transform-origin: left top;
				transition: all 0.5s;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 70%;
				height: 3px;
				background-color: #e0e7e1;
				transform: rotateZ(-45deg);
				transform-origin: left bottom;
				transition: all 0.5s;
			}
		}
	}
	.imgWrap {
		width: 42%;
		height: 100%;
		z-index: 1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
		}
	}
	.bg {
		position: absolute;
		width: 22%;
		bottom: 23%;
		left: 43%;
		z-index: 0;
		path {
			fill: #e0e7e1a3;
		}
	}
}

.mainConts2 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 75px 0;
	background: #fbfbfc;
	align-items: center;
	justify-content: center;
	touch-action: none;
	.inner {
		width: 1200px;
	}
	.tit {
		width: 46%;
		margin-bottom: 3vmin;
		font-size: 5vmin;
		font-weight: 400;
	}
	.conts {
		display: flex;
		flex-wrap: wrap;
		.item {
			position: relative;
			width: calc(50% - 40px);
			margin: 0 40px 4vmin 0;
			padding: 40px 5vmin;
			border: 1px solid #e7e7e7;
			transition: all 0.5s;
			cursor: pointer;
			background-color: #fbfbfc;
			&:hover {
				transform: translate(-5px, -5px) scale(1.04);
				border-color: #fff;
				background-color: #fff;
				box-shadow: 20px 20px 20px #ececec;
			}
		}
		.top {
			display: flex;
			margin-bottom: 30px;
			span[class*="material"] {
				margin-right: auto;
				font-size: 50px;
				color: #4a6869;
			}
			.num {
				font-size: 25px;
				color: #86878b;
			}
		}
		h2 {
			margin-bottom: 16px;
			font-size: 40px;
			color: #0d0e16;
		}
		p {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.4;
			color: #6e6e75;
		}
		.btn {
			display: flex;
			width: 33%;
			padding-bottom: 5px;
			font-size: 20px;
			color: #4a6869;
			border-bottom: 1px solid #4a6869;
			align-items: center;

			.arrow {
				position: relative;
				width: 15px;
				height: 15px;
				margin-left: auto;
				&::before {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					width: 70%;
					height: 2px;
					background-color: #4a6869;
					transform: rotateZ(45deg);
					transform-origin: left top;
					transition: all 0.5s;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					width: 70%;
					height: 2px;
					background-color: #4a6869;
					transform: rotateZ(-45deg);
					transform-origin: left bottom;
					transition: all 0.5s;
				}
			}
		}
	}

	.bg2 {
		position: absolute;
		width: 300px;
		left: -57px;
		bottom: -170px;
		z-index: 1;
		transform: rotateZ(91deg);
		path {
			fill: #e0e7e1;
		}
	}
}

.mainConts3 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 75px 0;
	background: #f6f8f6;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	touch-action: none;
	.inner {
		width: 1200px;
		> h1 {
			margin-bottom: 26px;
			font-size: 73px;
			font-weight: 400;
			letter-spacing: -2px;
			text-align: center;
			color: #0d0e16;
		}
		> p {
			width: 50%;
			margin: 0 auto 104px;
			font-size: 18px;
			text-align: center;
			line-height: 1.8;
			color: #535459;
		}
		> .conts {
			display: flex;
		}
	}

	.process {
		display: flex;
		width: 41.7%;
		flex-wrap: wrap;
		align-items: flex-start;
		cursor: pointer;

		.item {
			display: flex;
			margin: 31px 0 0 0;
			&:hover {
				.num {
					color: #fff;
					border: 1px solid #000;
					background: #000;
				}
				h2 {
					color: #000;
					text-decoration: underline;
				}
				p {
					color: #56565c;
				}
			}
		}

		.left {
			display: flex;
			width: 25%;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.num {
			width: 30%;
			display: flex;
			align-items: center;
			margin-bottom: 18px;
			border-radius: 50px;
			border: solid 1px #c7c9c9;
			padding: 28px;
			font-size: 19px;
			line-height: 0;
			color: #6a6c70;
			justify-content: center;
			transition: all 0.5s;
		}
		.arrow {
			position: relative;
			display: flex;
			align-items: flex-end;
			width: 3px;
			height: 60px;
			background: repeating-linear-gradient(
				to top,
				#c7c9c9,
				#c7c9c9 8px,
				#fff0 8px,
				#fff0 14px
			);
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0px;
				width: 15px;
				margin: 0 0 6px -9px;
				height: 3px;
				border-left: solid 3px #c7c9c9;
				border-right: solid 3px #c7c9c9;
				border-radius: 15px;
			}
		}
		.conts {
			width: 60%;
			h2 {
				margin-bottom: 8px;
				font-size: 27px;
				color: #727578;
				transition: all 0.5s;
				font-weight: 400;
			}
			p {
				font-size: 18px;
				line-height: 1.4;
				color: #96979a;
				transition: all 0.5s;
			}
		}
	}
	.imgWrap {
		position: relative;
		z-index: 1;
		margin-right: 40px;
		img {
			width: 330px;
			height: 500px;
			object-fit: cover;
		}
	}
	.imgWrap:last-child {
		margin-right: 0;
	}
	.bg3 {
		position: absolute;
		width: 200px;
		top: 300px;
		right: -67px;
		z-index: 0;
		transform: rotateZ(356deg);
		path {
			fill: #e0e7e1;
		}
	}
}

.mainConts4 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 75px 0;
	background: #fff;
	align-items: center;
	justify-content: center;
	touch-action: none;
	.inner {
		display: flex;
		width: 1200px;
		flex-wrap: wrap;

		> p {
			width: 60%;
			padding: 90px 195px 0 136px;
			font-size: 19px;
			line-height: 1.4;
			font-weight: 300;
			color: #6e6e75;
		}
	}
	h1 {
		width: 40%;
		font-size: 69px;
		line-height: 1.3;
		font-weight: 400;
		color: #0d0e16;
		margin-bottom: 50px;
	}
	.conts {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		margin-bottom: 7vh;

		li:nth-child(2n-1) {
			width: 50%;
			padding: 28px 101px 0 0;
			cursor: pointer;
			.imgWrap {
				position: relative;
				width: 100%;
				height: 390px;
				margin-bottom: 40px;
				&::after {
					content: "";
					display: flex;
					position: absolute;
					width: 100%;
					top: 50%;
					height: 100%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: #0000008c;
					background-size: 68px 48px;
					background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg height='100%25' version='1.1' viewBox='0 0 68 48' width='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='ytp-large-play-button-bg' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='%23f00'%3E%3C/path%3E%3Cpath d='M 45,24 27,14 27,34' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
					background-position: center;
					background-repeat: no-repeat;
					z-index: 2;
					opacity: 0;
					transition: all 0.5s;
				}
				&:hover::after {
					opacity: 1;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: all 0.5s;
				}
			}
		}
		li:nth-child(2n) {
			width: 50%;
			padding: 0 30px 0 70px;
			cursor: pointer;
			.imgWrap {
				position: relative;
				width: 100%;
				height: 370px;
				margin-bottom: 36px;
				&::after {
					content: "";
					display: flex;
					position: absolute;
					width: 100%;
					top: 50%;
					height: 100%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: #0000008c;
					background-size: 68px 48px;
					background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg height='100%25' version='1.1' viewBox='0 0 68 48' width='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='ytp-large-play-button-bg' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='%23f00'%3E%3C/path%3E%3Cpath d='M 45,24 27,14 27,34' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
					background-position: center;
					background-repeat: no-repeat;
					z-index: 2;
					opacity: 0;
					transition: all 0.5s;
				}
				&:hover::after {
					opacity: 1;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					trnasition: all 0.5s;
				}
			}
		}

		.tit {
			display: flex;
			align-items: flex-start;
			margin-bottom: 17px;
			h2 {
				width: calc(100% - 100px);
				font-size: 30px;
				font-weight: 500;
				overflow: hidden;
				height: 76px;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			span {
				width: 100px;
				margin-top: 10px;
				margin-left: 15px;
				color: #6e6e73;
				font-size: 15px;
				font-weight: 400;
			}
		}

		.btn {
			display: flex;
			width: 34.5%;
			font-size: 19.4px;
			font-weight: 500;
			color: #4a6869;
			border-bottom: 2px solid #a4b3b4;
			align-items: center;

			.arrow {
				position: relative;
				width: 15px;
				height: 15px;
				margin-left: auto;
				&::before {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					width: 70%;
					height: 2px;
					background-color: #4a6869;
					transform: rotateZ(45deg);
					transform-origin: left top;
					transition: all 0.5s;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					width: 70%;
					height: 2px;
					background-color: #4a6869;
					transform: rotateZ(-45deg);
					transform-origin: left bottom;
					transition: all 0.5s;
				}
			}
		}
	}
	.moreBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20%;
		height: 65px;
		margin: 0 auto;
		font-size: 20px;
		font-weight: 500;
		color: #4a6869;
		border: solid 1px #e0e7e1;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: #4a6869;
			color: #fff;
			.arrow::before,
			.arrow::after {
				background-color: #fff;
			}
		}

		.arrow {
			position: relative;
			width: 15px;
			height: 15px;
			margin-left: 10px;
			&::before {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				width: 70%;
				height: 2px;
				background-color: #4a6869;
				transform: rotateZ(45deg);
				transform-origin: left top;
				transition: all 0.5s;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				width: 70%;
				height: 2px;
				background-color: #4a6869;
				transform: rotateZ(-45deg);
				transform-origin: left bottom;
				transition: all 0.5s;
			}
		}
	}

	#popup {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.9);
		z-index: 1;
		justify-content: center;
		align-items: center;
		opacity: 0;
		z-index: -1;

		&.on {
			display: flex;
			animation: 0.5s fadeIn both;
		}
		&.off {
			animation: 0.5s fadeOut both;
		}

		.iframeWrap {
			width: 95%;
			border-radius: 7px;
			overflow: hidden;
		}
		iframe {
			width: 100%;
			height: 59vh;
			object-fit: cover;
		}
		.close {
			position: absolute;
			right: 3%;
			top: 1.5%;
			color: #00a1ff;
			font-size: 25px;
			font-weight: bold;
			cursor: pointer;
			&:hover {
				color: #bc4eff;
			}
		}
	}
}

.mainConts5 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	background: #f6f8f6;
	align-items: center;
	justify-content: center;
	touch-action: none;
	.inner {
		width: 1200px;
		> h1 {
			margin-bottom: 26px;
			font-size: 73px;
			font-weight: 400;
			letter-spacing: -2px;
			text-align: center;
			color: #0d0e16;
		}
		> p {
			width: 50%;
			margin: 0 auto 90px;
			font-size: 18px;
			text-align: center;
			line-height: 1.8;
			color: #535459;
		}
	}
	.conts {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;

		.item {
			display: flex;
			margin-right: 45px;
			padding: 24px;

			border: solid 1px #ccc;
			flex-direction: column;
			&:hover {
				.bottom .btn {
					color: #4a6869;
					border-bottom: 2px solid #a4b3b4;
				}
			}
		}
		.item:last-child {
			margin-right: 0;
		}
		.txt {
			overflow: hidden;
			height: 100px;
			margin-bottom: 35px;
			line-height: 1.5;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
		}
		.imgWrap {
			width: 370px;
			height: 310px;
			margin-bottom: 32px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		h2 {
			margin-bottom: 20px;
			height: 77px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			border-bottom: 2px solid #ebefeb;
			font-size: 27px;
			line-height: 1.3;
			font-weight: 500;
		}
		.bottom {
			display: flex;
			margin-top: auto;
			.btn {
				display: flex;
				width: 132px;
				font-size: 19.4px;
				font-weight: 500;
				color: #0d0e16;
				border-bottom: 2px solid #fff;
				align-items: center;
				transition: all 0.5s;
				cursor: pointer;

				.arrow {
					position: relative;
					width: 15px;
					height: 15px;
					margin-left: auto;
					&::before {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 70%;
						height: 2px;
						background-color: #4a6869;
						transform: rotateZ(45deg);
						transform-origin: left top;
						transition: all 0.5s;
					}
					&::after {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
						width: 70%;
						height: 2px;
						background-color: #4a6869;
						transform: rotateZ(-45deg);
						transform-origin: left bottom;
						transition: all 0.5s;
					}
				}
			}
			.date {
				margin-left: auto;
				font-size: 17px;
				color: #56565c;
			}
		}
	}
	.moreBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20%;
		height: 65px;
		margin: 0 auto;
		font-size: 20px;
		font-weight: 500;
		color: #4a6869;
		border: solid 1px #e0e7e1;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: #4a6869;
			color: #fff;
			.arrow::before,
			.arrow::after {
				background-color: #fff;
			}
		}

		.arrow {
			position: relative;
			width: 15px;
			height: 15px;
			margin-left: 10px;
			&::before {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				width: 70%;
				height: 2px;
				background-color: #4a6869;
				transform: rotateZ(45deg);
				transform-origin: left top;
				transition: all 0.5s;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				width: 70%;
				height: 2px;
				background-color: #4a6869;
				transform: rotateZ(-45deg);
				transform-origin: left bottom;
				transition: all 0.5s;
			}
		}
	}
}

.mainConts6 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	touch-action: none;
	.inner1 {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 57%;
		margin-bottom: 84px;
		background: #4a6869;
		.bg1 {
			position: absolute;
			width: clamp(161px, 15vw, 263px);
			top: 3%;
			left: -5%;
			z-index: 0;
			path {
				fill: #3e5a5b;
			}
		}
		.bg2 {
			position: absolute;
			width: clamp(161px, 15vw, 263px);
			right: 1%;
			bottom: 5%;
			z-index: 0;
			path {
				fill: #3e5a5b;
			}
		}
	}
	.cont {
		display: flex;
		width: 1200px;
		.tit {
			position: relative;
			z-index: 1;
			width: 50%;
			padding-right: 40px;
			font-size: 72px;
			font-weight: 400;
			color: #fff;
		}
		.right {
			position: relative;
			z-index: 1;
			width: 50%;
			padding: 0 145px 0 100px;
			p {
				margin-bottom: 47px;
				font-size: 20px;
				font-weight: 300;
				color: #fff;
				line-height: 1.5;
			}
			.moreBtn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 47%;
				height: 63px;
				font-size: 20px;
				font-weight: 500;
				color: #4a6869;
				border-radius: 50px;
				background-color: #fff;
				cursor: pointer;
				transition: all 0.5s;

				&:hover {
					background-color: #62927f;
					color: #fff;
					.arrow::before,
					.arrow::after {
						background-color: #fff;
					}
				}

				.arrow {
					position: relative;
					width: 15px;
					height: 15px;
					margin-left: 10px;
					&::before {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 70%;
						height: 2px;
						background-color: #4a6869;
						transform: rotateZ(45deg);
						transform-origin: left top;
						transition: all 0.5s;
					}
					&::after {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
						width: 70%;
						height: 2px;
						background-color: #4a6869;
						transform: rotateZ(-45deg);
						transform-origin: left bottom;
						transition: all 0.5s;
					}
				}
			}
		}
	}

	.inner2 {
		width: 1200px;
		.tit {
			margin-bottom: 42px;
			font-size: 18px;
			font-weight: 500;
			text-align: center;
		}
		.banner {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
		}
		a {
			width: 25%;
			margin-bottom: 38px;
			padding: 10px 0;
			text-align: center;
			transition: all 0.5s;
			&:hover {
				transform: scale(1.03) translate(-5px, -5px);
				box-shadow: 8px 6px 5px #eee, 0px 0px 2px #dfdfdf;
			}
		}
		svg {
			width: 100px;
			height: 40px;
		}
	}
}

.scrollBtn {
	display: flex;
	position: fixed;
	right: 20px;
	top: 50%;
	height: 250px;
	transform: translateY(-50%);
	flex-direction: column;
	justify-content: space-around;
	z-index: 2;
	button {
		width: 15px;
		height: 15px;
		border-radius: 100px;
		border: none;
		background: #3e5f71;
		transition: all 0.3s;
		&.on {
			height: 35px;
		}
	}
}

@media screen and (max-width: $lg) {
	.mainConts1 {
		height: calc(100vh - 128px);
		.inner {
			width: 100%;
			height: 100%;
			min-height: 455px;
			padding: 0 40px;
		}
		.topText {
			&::before {
				margin-right: 10px;
			}
		}
		h2 {
			padding-right: 30px;
			font-size: 5.5vw;
		}
		.bottomTxt {
			padding-right: 30px;
		}
		.btn {
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
		.imgWrap {
			img {
			}
		}
		.bg {
			path {
			}
		}
	}

	.mainConts2 {
		.inner {
			width: 100%;
			padding: 0 40px;
		}
		.tit {
			width: 100%;
			font-size: 4.5vw;
			margin-bottom: 6vmin;
		}
		.conts {
			li:nth-child(2n) {
				margin-right: 0;
			}
			.item {
				width: calc((100% - 2.4vmin) / 2);
				margin: 0 2.4vmin 5vmin 0;
				padding: 2.4vmin 4vmin;
				&:hover {
					box-shadow: 10px 10px 10px #ececec;
				}
			}
			.top {
				margin-bottom: 25px;
				span[class*="material"] {
					font-size: 4vw;
				}
				.num {
					font-size: 2.3vw;
				}
			}
			h2 {
				font-size: 3.5vw;
			}
			p {
			}
			.btn {
				width: 33%;
				font-size: 1.5vw;

				.arrow {
					&::before {
					}
					&::after {
					}
				}
			}
		}

		.bg2 {
			width: 200px;
			bottom: -100px;
			path {
			}
		}
	}

	.mainConts3 {
		.inner {
			width: 100%;
			padding: 0 40px;
			> h1 {
				font-size: 7.5vw;
			}
			> p {
				margin: 0 auto 70px;
				font-size: 18px;
				line-height: 1.6;
			}
			> .conts {
			}
		}

		.process {
			width: 41.7%;

			.item {
				&:hover {
					.num {
					}
					h2 {
					}
					p {
					}
				}
			}

			.left {
			}
			.num {
				padding: 23px;
				font-size: 17px;
			}
			.arrow {
				&::after {
				}
			}
			.conts {
				h2 {
					font-size: 3vw;
				}
				p {
					font-size: 17px;
				}
			}
		}
		.imgWrap {
			width: 29%;
			img {
				width: 100%;
				height: 100%;
				min-height: 300px;
			}
		}
		.imgWrap:last-child {
		}
		.bg3 {
			path {
			}
		}
	}

	.mainConts4 {
		.inner {
			width: 100%;
			padding: 0 40px;
			> p {
				width: 50%;
				padding: 3vmin 88px 0 100px;
				font-size: 19px;
			}
		}
		h1 {
			width: 50%;
			font-size: 6vmin;
			margin-bottom: 7vmin;
		}
		.conts {
			li:nth-child(2n-1) {
				padding: 28px 70px 0 0;
				.imgWrap {
					height: 27vmin;
					min-height: 250px;
					img {
					}
				}
			}
			li:nth-child(2n) {
				padding: 0 30px 0 50px;
				.imgWrap {
					height: 26vmin;
					min-height: 250px;
					img {
					}
				}
			}

			.tit {
				h2 {
					font-size: 29px;
				}
				span {
					margin-bottom: 1.4vw;
				}
			}

			.btn {
				font-size: clamp(15px, 1.49vw, 20px);

				.arrow {
					width: 1.35vw;
					height: 1.35vw;
					&::before {
					}
					&::after {
					}
				}
			}
		}
		.moreBtn {
			width: 240px;
			font-size: 18px;
			height: 55px;
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts5 {
		.inner {
			width: 100%;
			padding: 0 40px;
			> h1 {
				font-size: 7.5vmin;
			}
			> p {
				width: 60%;
			}
		}
		.conts {
			margin-bottom: clamp(30px, 8vh, 100px);
			.item {
				&:hover {
					.bottom .btn {
					}
				}
			}
			.item:last-child {
			}
			.imgWrap {
				width: 100%;
				height: clamp(150px, 27vh, 310px);
				img {
				}
			}

			h2 {
				margin-bottom: 25px;
				padding-bottom: 22px;
				font-size: 20px;
				height: 58px;
			}
			.bottom {
				.btn {
					width: 104px;
					font-size: 15px;

					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
				.date {
					font-size: 15px;
				}
			}
		}
		.moreBtn {
			width: 200px;
			height: 65px;
			font-size: 20px;
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts6 {
		.inner1 {
			padding: 0 40px;
			margin-bottom: 74px;
			.bg1 {
				path {
				}
			}
			.bg2 {
				path {
				}
			}
		}
		.cont {
			width: 100%;
			.tit {
				padding-right: 30px;
				font-size: 5.6vw;
			}
			.right {
				width: 50%;
				padding: 0 100px 0 70px;
				p {
					font-size: 19px;
				}
				.moreBtn {
					width: 150px;
					height: 42px;
					font-size: 18px;
					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
			}
		}

		.inner2 {
			padding: 0 30px;
			.tit {
			}
			.banner {
			}
			svg {
				width: 12vw;
			}
		}
	}

    .scrollBtn {
    display: flex;
    position: fixed;
    right: 50%;
    top: calc(100% - 40px);
    height: auto;
    width: 250px;
    transform: translate(50%, 0px);
    flex-direction: row;
        button {
            width: 15px;
            height: 15px;
            border-radius: 100px;
            border: none;
            background: #3e5f71;
            transition: all 0.3s;
            &.on {
                height: initial;
                width: 35px;
            }
        }
    }
}

@media screen and (max-width: $md) {
	.mainConts1 {
		display: flex;
		height: calc(100vh - 74px);
		padding: 50px 0;
		align-items: center;
		.inner {
			height: 67%;
		}
		.topText {
			font-size: 2.3vw;
			&::before {
			}
		}
		h2 {
		}
		.bottomTxt {
		}
		.btn {
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
		.imgWrap {
			height: 100%;
			img {
			}
		}
		.bg {
			width: 32%;
			bottom: -14%;
			left: 38%;
			path {
			}
		}
	}

	.mainConts2 {
		padding: 40px 0;
		.inner {
		}
		.tit {
		}
		.conts {
			li:nth-child(2n) {
			}
			.item {
				&:hover {
					box-shadow: 7px 7px 7px #ececec;
				}
			}
			.top {
				span[class*="material"] {
				}
				.num {
				}
			}
			h2 {
			}
			p {
			}
			.btn {
				.arrow {
					&::before {
					}
					&::after {
					}
				}
			}
		}

		.bg2 {
			path {
			}
		}
	}

	.mainConts3 {
		.inner {
			> h1 {
			}
			> p {
				width: 70%;
				margin: 0 auto 50px;
				font-size: 2.2vw;
			}
			> .conts {
			}
		}

		.process {
			.item {
				&:hover {
					.num {
					}
					h2 {
					}
					p {
					}
				}
			}

			.left {
			}
			.num {
				padding: 17px;
				font-size: 14px;
			}
			.arrow {
				&::after {
				}
			}
			.conts {
				h2 {
				}
				p {
					font-size: 2vw;
				}
			}
		}
		.imgWrap {
			width: 29%;
			margin-right: 30px;
			img {
				width: 100%;
				height: 100%;
				min-height: 300px;
			}
		}
		.imgWrap:last-child {
		}
		.bg3 {
			path {
			}
		}
	}

	.mainConts4 {
		padding: 30px 0;
		.inner {
			> p {
				padding: 2vmin 30px 0 30px;
				font-size: 17px;
			}
		}
		h1 {
		}
		.conts {
			li:nth-child(2n-1) {
				padding: 28px 32px 0 0;
				.imgWrap {
					img {
					}
				}
			}
			li:nth-child(2n) {
				padding: 0 0 0 30px;
				.imgWrap {
					img {
					}
				}
			}

			.tit {
				h2 {
					width: 100%;
				}
				span {
					display: none;
				}
			}

			.btn {
				width: 130px;
				.arrow {
					&::before {
					}
					&::after {
					}
				}
			}
		}
		.moreBtn {
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts5 {
		.inner {
			margin: 30px 0;
			padding: 0 30px;
			> h1 {
				font-size: 6.5vmin;
			}
			> p {
				width: 80%;
				margin-bottom: 55px;
			}
		}
		.conts {
			margin-bottom: clamp(30px, 8vh, 100px);
			.item {
				width: 32%;
				padding: 20px;
				margin-right: 20px;
				&:hover {
					.bottom .btn {
					}
				}
			}
			.item:last-child {
			}
			.imgWrap {
				width: 100%;
				height: clamp(150px, 27vh, 310px);
				img {
				}
			}

			h2 {
				margin-bottom: 25px;
				padding-bottom: 22px;
				font-size: 2.2vw;
			}
			.bottom {
				.btn {
					width: 103px;

					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
				.date {
					font-size: 14.5px;
				}
			}
		}
		.moreBtn {
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts6 {
		.inner1 {
			margin-bottom: 50px;
			.bg1 {
				path {
				}
			}
			.bg2 {
				path {
				}
			}
		}
		.cont {
			margin: 80px 0;
			.tit {
				padding-right: 0px;
				font-size: 5.6vw;
			}
			.right {
				padding: 0 50px 0 30px;
				p {
					font-size: 18px;
				}
				.moreBtn {
					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
			}
		}

		.inner2 {
			.tit {
			}
			.banner {
				width: 100%;
			}
			svg {
				width: 12vw;
			}
		}
	}
}

@media screen and (max-width: $sm) {
	.mainConts1 {
		display: flex;
		height: calc(100vh - 74px);
		padding: 30px 0;
		align-items: center;
		.inner {
			padding: 0 30px;
			flex-direction: row;
			height: initial;
		}
		.topText {
			width: 100%;
			margin-bottom: 15px;
			font-size: 3vw;
			&::before {
			}
		}
		h2 {
			width: 100%;
			padding-right: 0;
			margin-bottom: 3vh;
		}
		.bottomTxt {
			width: 100%;
			padding-right: 0;
		}
		.btn {
			width: 211px;
			height: 63px;
			order: 1;
			margin: 60px auto 0px;
			font-size: 17px;

			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
		.imgWrap {
			width: 100%;
			height: 30vh;
			img {
			}
		}
		.bg {
			width: 31%;
			bottom: 86%;
			left: -4%;
			path {
			}
		}
	}

	.mainConts2 {
		padding: 30px 0;
		.inner {
			padding: 0 30px;
		}
		.tit {
		}
		.conts {
			li:nth-child(2n) {
			}
			.item {
				width: 100%;
				&:hover {
				}
			}
			.top {
				display: none;
				span[class*="material"] {
				}
				.num {
				}
			}
			h2 {
				margin-bottom: 7px;
				font-size: 17px;
			}
			p {
				font-size: 14.5px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.btn {
				width: 105px;
				padding-bottom: 2px;
				font-size: 13px;
				.arrow {
					&::before {
					}
					&::after {
					}
				}
			}
		}

		.bg2 {
			width: 150px;
			bottom: -75px;
			path {
			}
		}
	}

	.mainConts3 {
		padding: 0;
		.inner {
			display: flex;
			padding: 30px;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			> h1 {
			}
			> p {
				width: 85%;
				margin-bottom: 0px;
				font-size: 2.5vw;
			}
			> .conts {
				flex-wrap: wrap;
			}
		}

		.process {
			width: 100%;
			margin: 28px 0 63px 0;
			padding-top: 16px;
			border-top: solid 1px #ccc;
			.item {
				width: 100%;
				margin-top: 14px;
				&:hover {
					.num {
					}
					h2 {
					}
					p {
					}
				}
			}

			.left {
				width: 10%;
				align-items: normal;
			}
			.num {
			}
			.arrow {
				display: none;
				&::after {
				}
			}
			.conts {
				width: 90%;
				h2 {
				}
				p {
					font-size: 2.4vw;
				}
			}
		}
		.imgWrap {
			width: 100%;
			height: 30vh;
			margin-right: 0;
			img {
				min-height: initial;
			}
		}
		.imgWrap:last-child {
			display: none;
		}
		.bg3 {
			width: 150px;
			top: 726px;
			path {
			}
		}
	}

	.mainConts4 {
		padding: 30px 0;
		.inner {
			> p {
				padding: 1vmin 30px 0 30px;
				font-size: 14px;
			}
		}
		h1 {
		}
		.conts {
			li:nth-child(2n-1) {
				padding: 28px 32px 0 0;
				.imgWrap {
					margin-bottom: 25px;
					img {
					}
				}
			}
			li:nth-child(2n) {
				padding: 0 0 0 30px;
				.imgWrap {
					img {
					}
				}
			}

			.tit {
				h2 {
					height: 48px;
					font-size: 20px;
				}
				span {
				}
			}

			.btn {
				width: 130px;
				.arrow {
					&::before {
					}
					&::after {
					}
				}
			}
		}
		.moreBtn {
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts5 {
		.inner {
			margin: 30px 0;
			padding: 0 20px;
			> h1 {
				font-size: 6vw;
			}
			> p {
				font-size: 15px;
				margin-bottom: 40px;
			}
		}
		.conts {
			margin-bottom: clamp(30px, 8vh, 100px);
			.item {
				padding-right: 25px;
				&:hover {
					.bottom .btn {
					}
				}
			}
			.item:last-child {
			}
			.imgWrap {
				margin-bottom: 17px;
				height: clamp(150px, 27vh, 310px);
				img {
				}
			}

			h2 {
				font-size: 19px;
				height: 55px;
				margin-bottom: 14px;
			}
			.bottom {
				flex-wrap: wrap;
				.btn {
					order: 1;
					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
				.date {
					width: 100%;
					text-align: right;
					padding-bottom: 8px;
					margin-bottom: 15px;
					border-bottom: solid 1px #ccc;
					font-size: 13px;
				}
			}
		}
		.moreBtn {
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts6 {
		.inner1 {
			.bg1 {
				path {
				}
			}
			.bg2 {
				path {
				}
			}
		}
		.cont {
			flex-wrap: wrap;
			margin: 40px 0;
			.tit {
				width: 100%;
				margin-bottom: 20px;
				font-size: 6.3vw;
			}
			.right {
				width: 100%;
				padding: 0;
				p {
					width: 100%;
					font-size: 15px;
				}
				.moreBtn {
					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
			}
		}

		.inner2 {
			.tit {
			}
			.banner {
				width: 100%;
			}
			svg {
				width: 14vw;
			}
		}
	}
}

@media screen and (max-width: $xs) {
	.mainConts1 {
		overflow: hidden;
		height: 100%;
		padding: 0;
		touch-action: initial;
		.inner {
			padding: 50px 20px;
		}
		.topText {
			display: flex;
			margin-bottom: 10px;
			font-size: 13px;
			align-items: flex-start;
			&::before {
				width: 17px;
				margin-top: 6px;
			}
		}
		h2 {
			font-size: 23px;
			margin-bottom: 35px;
		}
		.bottomTxt {
			font-size: 15px;
			margin-bottom: 50px;
		}
		.btn {
			height: 50px;
			margin: 40px auto 0;

			.arrow {
				width: 15px;
				height: 15px;
				&::before {
				}
				&::after {
				}
			}
		}
		.imgWrap {
			img {
			}
		}
		.bg {
			width: 28%;
			bottom: 5%;
			left: 72%;
			transform: rotate(95deg);
			path {
			}
		}
	}

	.mainConts2 {
		height: 100%;
		padding: 0;
		touch-action: initial;
		.inner {
			padding: 40px 20px;
		}
		.tit {
			letter-spacing: 0.5px;
			font-size: 25px;
			margin-bottom: 40px;
		}
		.conts {
			li:nth-child(2n) {
			}
			.item {
				width: 100%;
				padding: 15px;
				margin: 0 0 40px 0;
				&:hover {
				}
			}
			.top {
				span[class*="material"] {
				}
				.num {
				}
			}
			h2 {
			}
			p {
			}
			.btn {
				width: 93px;
				.arrow {
					width: 12px;
					height: 12px;
					&::before {
					}
					&::after {
					}
				}
			}
		}

		.bg2 {
			width: 110px;
			bottom: -55px;
			path {
			}
		}
	}

	.mainConts3 {
		height: 100%;
		touch-action: initial;
		.inner {
			padding: 40px 20px;
			> h1 {
				letter-spacing: 0.5px;
				font-size: 25px;
			}
			> p {
				width: 100%;
				font-size: 14px;
			}
			> .conts {
			}
		}

		.process {
			.item {
				margin-top: 25px;
				&:hover {
					.num {
					}
					h2 {
					}
					p {
					}
				}
			}

			.left {
				width: 45px;
				justify-content: inherit;
			}
			.num {
				font-size: 13px;
				padding: 14px;
			}
			.arrow {
				display: none;
				&::after {
				}
			}
			.conts {
				width: calc(100% - 45px);
				h2 {
					font-size: 17px;
				}
				p {
					font-size: 13px;
				}
			}
		}
		.imgWrap {
			width: 100%;
			height: 30vh;
			margin-right: 0;
			img {
				min-height: initial;
			}
		}
		.imgWrap:last-child {
			display: none;
		}
		.bg3 {
			path {
			}
		}
	}

	.mainConts4 {
		height: 100%;
		padding: 0;
		touch-action: initial;
		.inner {
			padding: 40px 20px;
			> p {
				width: 100%;
				margin-bottom: 40px;
				padding: 0;
				font-size: 14px;
			}
		}
		h1 {
			width: 100%;
			font-size: 27px;
			margin-bottom: 10px;
		}
		.conts {
			flex-wrap: wrap;
			li:nth-child(2n-1) {
				width: 100%;
				padding: 0;
				.imgWrap {
					height: 190px;
					min-height: inherit;
					margin-bottom: 7px;
					img {
					}
				}
			}
			li:nth-child(2n) {
				width: 100%;
				padding: 0;
				.imgWrap {
					height: 190px;
					min-height: inherit;
					margin-bottom: 7px;
					img {
					}
				}
			}

			.tit {
				h2 {
					height: 48px;
				}
				span {
				}
			}

			.btn {
				width: 130px;
				margin-bottom: 45px;
				.arrow {
					width: 12px;
					height: 12px;
					&::before {
					}
					&::after {
					}
				}
			}
		}
		.moreBtn {
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts5 {
		height: 100%;
		touch-action: initial;
		.inner {
			margin: 40px 0;
			> h1 {
				font-size: 38px;
			}
			> p {
				width: 100%;
				margin: 0 0 30px 0;
				text-align: center;
				font-size: 14px;
			}
		}
		.conts {
			flex-wrap: wrap;
			margin-bottom: 0;
			.item {
				width: 100%;
				margin-bottom: 50px;
				margin-right: 0;
				&:hover {
					.bottom .btn {
					}
				}
			}
			.item:last-child {
			}
			.imgWrap {
				margin-bottom: 17px;
				height: clamp(150px, 27vh, 310px);
				img {
				}
			}

			h2 {
				font-size: 20px;
				height: 63px;
				line-height: 1.4;
			}
			.bottom {
				flex-wrap: wrap;
				.btn {
					width: 107px;
					order: initial;
					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
				.date {
					width: 40%;
					text-align: right;
					padding-bottom: 0;
					margin-bottom: 0;
					border-bottom: none;
					font-size: 13px;
				}
			}
		}
		.moreBtn {
			width: 180px;
			height: 50px;
			margin-bottom: 20px;
			font-size: 17px;
			.arrow {
				&::before {
				}
				&::after {
				}
			}
		}
	}

	.mainConts6 {
		height: 100%;
		touch-action: initial;
		.inner1 {
			height: 300px;
			padding: 0 20px;
			margin-bottom: 60px;
			.bg1 {
				width: 90px;
				path {
				}
			}
			.bg2 {
				width: 136px;
				transform: rotate(174deg);
				path {
					fill: #3e5a5b82;
				}
			}
		}
		.cont {
			margin: 30px 0;
			.tit {
			}
			.right {
				p {
				}
				.moreBtn {
					.arrow {
						&::before {
						}
						&::after {
						}
					}
				}
			}
		}

		.inner2 {
			margin-bottom: 60px;
			.tit {
			}
			.banner {
				flex-wrap: wrap;
				justify-content: space-around;
			}
			a {
				width: 35%;
				margin-bottom: 40px;
			}

			svg {
				width: 100%;
			}
		}
	}

	.scrollBtn {
		display: none;
	}
}
