.noticeConts {
	width: 60%;
	margin: 0 0 50px;
	.mainTit {
		margin-bottom: 21px;
		font-size: 21px;
		font-weight: 600;
		color: #557454;
	}
	.topTxt {
		padding: 0px 0 54px;
		line-height: 1.5;
		color: #737373;
		text-align: justify;
		word-break: break-all;
	}
	.notice {
		width: 100%;
		margin-bottom: 16px;

		.item {
			display: flex;
			justify-content: space-between;
			padding: 33px 0;
			border-bottom: solid 1px #ddd;
			align-items: center;
			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				border-bottom: solid 1px #234c22;
				.date {
					color: #234c22;
					span {
						color: #234c22;
					}
				}
				.time {
					color: #234c22;
				}
				.timeEdit {
					color: #234c22;
				}

				.viewBtn {
					border: 1px solid #234c22;
					&::before,
					&::after {
						background-color: #234c22;
					}
				}
			}
		}

		.date {
			width: 14%;
			margin-left: 10px;
			text-align: center;
			color: #dddddd;
			span {
				font-size: 49px;
				line-height: 1.1;
				transition: all 0.3s;
			}
			div {
				margin-bottom: 5px;
				font-size: 18px;
				letter-spacing: 2px;
				transition: all 0.3s;
			}
			.time {
				font-size: 15px;
			}
		}

		.txt {
			width: 70%;
			li:first-child {
				display: flex;
				margin-top: 9px;
				margin-bottom: 11px;
				span {
					margin-right: 20px;
					padding: 5px 13px;
					border: 1px solid #297e27;
					color: #297e27;
				}
				h2 {
					font-size: 22px;
					font-weight: 500;
					color: #515151;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			.conts {
				margin-bottom: 16px;
				font-size: 18px;
				color: #707070;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.time {
				display: inline-block;
				margin: 0 15px 0 0;
				padding: 3px 8px;
				border: solid 1px #dddddd;
				color: #dddddd;
				transition: all 0.3s;
			}
			.timeEdit {
				display: inline-block;
				padding: 3px 8px;
				border: solid 1px #dddddd;
				color: #dddddd;
				transition: all 0.3s;
			}
		}
		.viewBtn {
			display: block;
			position: relative;
			width: 45px;
			height: 45px;
			border-radius: 45px;
			border: 1px solid #bebebe;
			text-indent: -9999px;
			font-size: 0;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				transform-origin: right;
				width: 7px;
				height: 1px;
				background: #a9a9a9;
				transition: all 0.3s;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
				transform-origin: right;
				width: 7px;
				height: 1px;
				background: #bababa;
				transition: all 0.3s;
			}
		}
	}
	.createBtn {
		position: relative;
		display: flex;
		justify-content: center;
		overflow: hidden;
		align-items: center;
		margin: 0 0 60px auto;
		width: 110px;
		height: 36px;
		font-size: 18px;
		font-weight: 500;
		border: solid 1px #e0e7e1;
		border-radius: 5px;
		color: #4a6869;
		transition: all 0.5s;
		cursor: pointer;

		& span {
			opacity: 0;
			color: inherit;
			transform: translate3d(0, -10px, 0);
			transition: transform 0.3s, opacity 0.3s;
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			&:last-child {
				margin-left: 3px;
				font-size: 15px;
			}
		}
		&::before {
			content: attr(data-text);
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			color: inherit;
			transition: transform 0.3s, opacity 0.3s;
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}
		&:hover {
			border: solid 1px #4a6869;
			&::before {
				opacity: 0;
				transform: translate3d(0, 100%, 0);
			}
			span {
				opacity: 1;
				transform: translate3d(0, 0, 0);
				&:nth-child(1) {
					transition-delay: 0.045s;
				}
				&:nth-child(2) {
					transition-delay: 0.105s;
				}
				&:nth-child(3) {
					transition-delay: 0.165s;
				}
				&:nth-child(4) {
					transition-delay: 0.225s;
				}
				&:nth-child(5) {
					transition-delay: 0.285s;
				}
				&:nth-child(6) {
					transition-delay: 0.345s;
				}
				&:nth-child(7) {
					transition-delay: 0.405s;
				}
			}
		}
	}

	.pagiNation {
		display: flex;
		justify-content: space-around;
		width: 53%;
		margin: 0 auto;
		align-items: center;
		cursor: pointer;
		li {
			transition: all 0.3s;
		}
		li:hover {
			background-color: #234c22;
			color: #fff;
		}
		.first,
		.prev,
		.next,
		.last {
			padding: 10px 14px;
			border: solid 1px #a1a1a1;
			color: #717c5b;
		}
		.num {
			padding: 10px 14px;
			border-radius: 8px;
		}
	}

	.popWrap {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 30px;
		background: repeating-linear-gradient(
			45deg,
			#4b4b4bd6,
			#4b4b4bd6 5px,
			#4b4b4bde 5px,
			#4b4b4bde 25px
		);
		z-index: 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.pop {
			width: 640px;
		}

		.tit {
			display: block;
			width: 100%;
			padding-bottom: 7px;
			font-size: 16px;
			letter-spacing: 1.3px;
			font-weight: 500;
			color: #fff;
		}
		.inputTit {
			width: 100%;
			margin-bottom: 30px;
			padding: 20px;
			font-size: 16px;
			border: none;
			color: gray;
			border-radius: 5px;
			&::placeholder {
				color: #b1b1b1;
			}
		}
		.conts {
			width: 100%;
			height: 300px;
			margin-bottom: 30px;
			padding: 20px;
			font-size: 16px;
			line-height: 1.4;
			color: gray;
			border-radius: 5px;
			border: none;
			resize: vertical;
			&::placeholder {
				color: #b1b1b1;
			}
		}
		.btnWrap {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			button {
				margin: 0 15px;
				padding: 8px 20px;
				border-radius: 5px;
				font-size: 15px;
				cursor: pointer;
				transition: all 0.5s;
				border: none;
				&:hover {
					background-color: #4caf50;
					color: #fff;
				}
			}
		}
	}
}

@media screen and (max-width: $lg) {
	.noticeConts {
		width: 90%;
		margin: 0 0 40px;
		.mainTit {
		}
		.topTxt {
		}
		.notice {
			.item {
				&:hover {
					.date {
						span {
						}
					}
					.time {
					}
					.timeEdit {
					}
					.viewBtn {
						&::before,
						&::after {
						}
					}
				}
			}

			.date {
				span {
				}
				div {
				}
				.time {
				}
			}

			.txt {
				li:first-child {
					span {
					}
					h2 {
					}
				}
				.conts {
				}
				.time {
				}
				.timeEdit {
				}
			}
			.viewBtn {
				&::before {
				}
				&::after {
				}
			}
		}
		.createBtn {
			& span {
				&:last-child {
				}
			}
			&::before {
			}
			&:hover {
				&::before {
				}
				span {
					&:nth-child(1) {
					}
					&:nth-child(2) {
					}
					&:nth-child(3) {
					}
					&:nth-child(4) {
					}
					&:nth-child(5) {
					}
					&:nth-child(6) {
					}
					&:nth-child(7) {
					}
				}
			}
		}

		.pagiNation {
			li {
			}
			li:hover {
			}
			.first,
			.prev,
			.next,
			.last {
			}
			.num {
			}
		}
	}
}

@media screen and (max-width: $md) {
	.noticeConts {
		width: 95%;
		.mainTit {
		}
		.topTxt {
		}
		.notice {
			.item {
				&:hover {
					.date {
						span {
						}
					}
					.time {
					}
					.timeEdit {
					}
					.viewBtn {
						&::before,
						&::after {
						}
					}
				}
			}

			.date {
				span {
				}
				div {
				}
				.time {
				}
			}

			.txt {
				li:first-child {
					span {
					}
					h2 {
					}
				}
				.conts {
				}
				.time {
				}
				.timeEdit {
				}
			}
			.viewBtn {
				&::before {
				}
				&::after {
				}
			}
		}
		.createBtn {
			& span {
				&:last-child {
				}
			}
			&::before {
			}
			&:hover {
				&::before {
				}
				span {
					&:nth-child(1) {
					}
					&:nth-child(2) {
					}
					&:nth-child(3) {
					}
					&:nth-child(4) {
					}
					&:nth-child(5) {
					}
					&:nth-child(6) {
					}
					&:nth-child(7) {
					}
				}
			}
		}

		.pagiNation {
			li {
			}
			li:hover {
			}
			.first,
			.prev,
			.next,
			.last {
			}
			.num {
			}
		}
	}
}

@media screen and (max-width: $sm) {
	.noticeConts {
		width: 95%;
		.mainTit {
		}
		.topTxt {
		}
		.notice {
			.item {
				&:hover {
					.date {
						span {
						}
					}
					.time {
					}
					.timeEdit {
					}
					.viewBtn {
						&::before,
						&::after {
						}
					}
				}
			}

			.date {
				width: 13%;
				span {
					font-size: 30px;
				}
				div {
					font-size: 15px;
				}
				.time {
				}
			}

			.txt {
				li:first-child {
					span {
						padding: 3px 5px;
						font-size: 14px;
					}
					h2 {
						font-size: 18px;
					}
				}
				.conts {
					font-size: 15px;
				}
				.time {
					font-size: 15px;
				}
				.timeEdit {
					font-size: 15px;
				}
			}
			.viewBtn {
				width: 35px;
				height: 35px;
				&::before {
				}
				&::after {
				}
			}
		}
		.createBtn {
			& span {
				&:last-child {
				}
			}
			&::before {
			}
			&:hover {
				&::before {
				}
				span {
					&:nth-child(1) {
					}
					&:nth-child(2) {
					}
					&:nth-child(3) {
					}
					&:nth-child(4) {
					}
					&:nth-child(5) {
					}
					&:nth-child(6) {
					}
					&:nth-child(7) {
					}
				}
			}
		}

		.pagiNation {
			li {
			}
			li:hover {
			}
			.first,
			.prev,
			.next,
			.last {
			}
			.num {
			}
		}

		.popWrap {
			.pop {
				width: 100%;
			}

			.tit {
			}
			.inputTit {
				&::placeholder {
				}
			}
			.conts {
				height: 200px;
				&::placeholder {
				}
			}
			.btnWrap {
				button {
					width: inherit;
					height: inherit;
					padding: 10px 20px;
					&:hover {
					}
				}
			}
		}
	}
}

@media screen and (max-width: $xs) {
	.noticeConts {
		width: 95%;
		.mainTit {
		}
		.topTxt {
		}
		.notice {
			.item {
				position: relative;
				flex-direction: column;
				margin: 30px 0;
				padding: 0 0 15px 0;
				&:hover {
					.date {
						span {
						}
					}
					.time {
					}
					.timeEdit {
					}
					.viewBtn {
						&::before,
						&::after {
						}
					}
				}
			}

			.date {
				display: flex;
				align-items: center;
				margin-left: 0;
				margin-right: auto;
				span {
					font-size: 15px;
					margin-left: 7px;
					order: 1;
				}
				div {
					font-size: 15px;
					margin-bottom: 0;
				}
				.time {
				}
			}

			.txt {
				width: 100%;
				li:first-child {
					span {
						padding: 3px 5px;
						font-size: 14px;
					}
					h2 {
						font-size: 18px;
					}
				}
				.conts {
					font-size: 15px;
				}
				li:last-child {
					display: flex;
				}
				.time {
					font-size: 14px;
					border: none;
					line-height: 1.4;
				}
				.timeEdit {
					font-size: 14px;
					border: none;
					line-height: 1.4;
				}
			}
			.viewBtn {
				position: absolute;
				width: 25px;
				height: 22px;
				border-radius: 3px;
				top: -2px;
				left: 100px;
				&::before {
				}
				&::after {
				}
			}
		}
		.createBtn {
			& span {
				&:last-child {
				}
			}
			&::before {
			}
			&:hover {
				&::before {
				}
				span {
					&:nth-child(1) {
					}
					&:nth-child(2) {
					}
					&:nth-child(3) {
					}
					&:nth-child(4) {
					}
					&:nth-child(5) {
					}
					&:nth-child(6) {
					}
					&:nth-child(7) {
					}
				}
			}
		}

		.pagiNation {
			width: 80%;
			li {
			}
			li:hover {
			}
			.first,
			.prev,
			.next,
			.last {
			}
			.num {
			}
		}

		.popWrap {
			padding: 10px;
			.pop {
				width: 100%;
			}

			.tit {
			}
			.inputTit {
				&::placeholder {
				}
			}
			.conts {
				height: 200px;
				&::placeholder {
				}
			}
			.btnWrap {
				button {
					padding: 5px 10px;
					&:hover {
					}
				}
			}
		}
	}
}
